<%=  %>

<form method="post" action="/landmarks/<%= landmark.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Landmark Name: <input type="text" name="landmark[name]">
  Year Completed: <input type="text" name="landmark[year_completed]">
  <input type="submit">
</form>
<!-- expect(last_response.body).to include('<form')
expect(last_response.body).to include('landmark[name]')
expect(last_response.body).to include('landmark[year_completed]')
expect(last_response.body).to include(@landmark.name)
expect(last_response.body).to include(@landmark.year_completed.to_s) -->
